@mixin centrer {
   width: 80%;
   max-width: 1100px;
   margin: 0 auto;
}
@mixin signature {
   display: block;
   margin-top: 5px;
   color: $couleur-gris;
   font-size: 12px;
}

@mixin barre {
   content: "";
   position: absolute;
   height: 2px;
   width: 50px;
   background:$couleur-marron;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   display: block;
}

// @media screen and (max-width: 550px)
// @media screen and (min-width: 550px)

// @media screen and (min-width: 1000px)