$couleur-rouge : #ff2143;
$couleur-vert : #13c600;
$couleur-bleu : #0077b5;
$couleur-marron : #ed4141;
$couleur-gris : #9fa6bd;
$couleur-bg : #f4f4f4;
$typo :'Roboto', sans-serif;
$typo-secondaire :'Barlow', sans-serif;
$transi : .3s all ease-in-out